#page-delete-event {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-delete-event form {
  margin: 64px auto;
  padding: 64px;
  max-width: 1100px;
  background: #dcdcdc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#page-delete-event form h1 {
  font-size: 36px;
  padding-bottom: 20px;
}

#page-delete-event form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-delete-event form .field input[type="text"] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#page-delete-event form .field input::placeholder {
  color: #a0a0b2;
}

#page-delete-event form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-delete-event form .field :disabled {
  cursor: not-allowed;
}

#page-delete-event form .field-group .field + .field {
  margin-left: 24px;
}

#page-delete-event form .field-group input + input {
  margin-left: 24px;
}

#page-delete-event form button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-delete-event form button:hover {
  background: #2fb86e;
}
