#page-list-events {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-list-events #listagem {
  margin: 64px auto;
  padding: 64px;
  max-width: 1100px;
  background: #dcdcdc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#page-list-events #listagem fieldset {
  margin-top: 14px;
  min-inline-size: auto;
  border: 0;
}

#page-list-events #data {
  margin: 10px auto;
  padding: 24px;
  max-width: 1100px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 2px dashed lightgray;
}

#page-list-events #localizacao {
  padding: 15px;
  background: #fff;
  justify-content: left;
  font-weight: bold;
}
