:root {
  --primary-color: #2f4f4f;
  --title-color: #000080;
  --text-color: #778899;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.btn:hover {
  background: #2fb86e;
}
